#categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #7b0094;
  color: aliceblue;
}

#ingredients {
  background-color: rgb(15, 156, 238);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
}
#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
}
.img-style {
  width: 250px;
  height: 200px;
}
